In [39]:
import pandas as pd
import random
import numpy as np

In [123]:
region_df = pd.read_csv('city_region_mapping.csv')
df = pd.read_csv('SampleDataFoodSales.csv')
unspsc_df = pd.read_csv('unspsc_data.csv')
# unspsc_df['Price'] = pd.Series([round(random.uniform(10, 500), 2) for _ in range(len(unspsc_df))])

In [45]:
# Mapping the ID from Table 1 to each row in Table 2
process_region= pd.merge(region_df.assign(key=1), df[['ID']].assign(key=1), on='key').drop('key', axis=1)
process_region = process_region[['ID', 'State ', 'City', 'Region']]

### Multi Table Approach -- No Possible Answers

In [ ]:
from sdv.metadata import MultiTableMetadata

metadata = MultiTableMetadata()

In [ ]:
multi_table_data = {
    'product_table': df,
    'region': process_region,
}

In [74]:
metadata.detect_table_from_dataframe(
    table_name='product_table',
    data=df
)

metadata.detect_table_from_dataframe(
    table_name='region',
    data=process_region
)

In [75]:
metadata.update_column(
    table_name='product_table',
    column_name='ID',
    sdtype='id',
    regex_format='ID[0-9]{5}')

metadata.update_column(
    table_name='region',
    column_name='ID',
    sdtype='id',
    regex_format='ID[0-9]{5}')

In [76]:
metadata.set_primary_key(
    table_name='product_table',
    column_name='ID'
)

# metadata.set_primary_key(
#     table_name='region',
#     column_name='ID'
# )

In [77]:
metadata.add_relationship(
    parent_table_name='product_table',
    child_table_name='region',
    parent_primary_key='ID',
    child_foreign_key='ID'
)

In [81]:
metadata.validate()

In [122]:
from sdv.multi_table import HMASynthesizer

# Step 1: Create the synthesizer
synthesizer = HMASynthesizer(metadata)

# Step 2: Train the synthesizer
synthesizer.fit(multi_table_data)

# Step 3: Generate synthetic data
synthetic_data = synthesizer.sample(num_rows=100)

TypeError: sample() got an unexpected keyword argument 'num_rows'

In [88]:
synthetic_data = synthesizer.sample()

In [92]:
synthetic_data['product_table']['City'].value_counts()

Boston         71
Los Angeles    71
New York       54
San Diego      48
Name: City, dtype: int64

### CTGAN Same Results results as Version 1

In [109]:
from ctgan import CTGAN

In [114]:
discrete_col = ['ID', 'Date', 'Region', 'City', 'Category', 'Product']

In [115]:
ctgan = CTGAN(epochs = 10)
ctgan.fit(df, discrete_col)
synt_data = ctgan.sample(1000)

In [119]:
synt_data.City.value_counts()

Los Angeles    289
New York       266
Boston         260
San Diego      185
Name: City, dtype: int64

### Single Table Approach with external data append in the likes of UNSPSC & Region Mapping

In [127]:
df.Category.value_counts()

Cookies     95
Bars        94
Snacks      29
Crackers    26
Name: Category, dtype: int64

In [218]:
#UNSPSC Data prep and filterring
selected_family = ['Beverages', 'Prepared and preserved foods', 'Bread and bakery products']

filterd_unspsc = unspsc_df[unspsc_df['Family Name'].isin(selected_family)]
filterd_unspsc = filterd_unspsc.rename(columns = {'Family Name': 'Category', 'Commodity Name': 'Product'})
filterd_unspsc = filterd_unspsc[['Category', 'Product']]
filterd_unspsc = filterd_unspsc.reset_index(drop = True)
filterd_unspsc['ID'] = ['ID' + str(i).zfill(5) for i in range(1, len(filterd_unspsc)+1)]
filterd_unspsc = filterd_unspsc[['ID', 'Category']]

In [219]:
#Region Data prep and filtering
region_df = region_df[['Region','City']]
region_df['ID'] = ['ID' + str(i).zfill(5) for i in range(200, 200 + len(region_df))]
region_df = region_df[['ID','Region','City']]

In [220]:
df_final = df.append(filterd_unspsc, ignore_index =True)
df_final = df_final.append(region_df, ignore_index =True)

C:\Users\shashi.kiran\AppData\Local\Temp\ipykernel_16764\3571460753.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df.append(filterd_unspsc, ignore_index =True)
C:\Users\shashi.kiran\AppData\Local\Temp\ipykernel_16764\3571460753.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_final.append(region_df, ignore_index =True)

In [227]:
#adding some random values to the dataset as MRP Data not available
df_final_mean = df_final.fillna(df_final.mean()).round(0)

df_final_mean['Date'] = df_final_mean['Date'].fillna(df_final_mean['Date'].mode()[0])
df_final_mean['Region'] = df_final_mean['Region'].fillna(df_final_mean['Region'].mode()[0])
df_final_mean['City'] = df_final_mean['City'].fillna(df_final_mean['City'].mode()[0])
df_final_mean['Category'] = df_final_mean['Category'].fillna(df_final_mean['Category'].mode()[0])
df_final_mean['Product'] = df_final_mean['Product'].fillna(df_final_mean['Product'].mode()[0])

C:\Users\shashi.kiran\AppData\Local\Temp\ipykernel_16764\34240211.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_final_mean = df_final.fillna(df_final.mean()).round(0)

In [222]:
df_final_mean

,ID,Date,Region,City,Category,Product,Qty,UnitPrice,TotalPrice
0,ID07351,1-Jan,East,Boston,Bars,Carrot,33.0,2.0,58.0
1,ID07352,4-Jan,East,Boston,Crackers,Whole Wheat,87.0,3.0,304.0
2,ID07353,7-Jan,West,Los Angeles,Cookies,Chocolate Chip,58.0,2.0,108.0
3,ID07354,10-Jan,East,New York,Cookies,Chocolate Chip,82.0,2.0,153.0
4,ID07355,13-Jan,East,Boston,Cookies,Arrowroot,38.0,2.0,83.0
...,...,...,...,...,...,...,...,...,...
735,ID00526,1-Apr,Northeast,Lynn,Beverages,Carrot,63.0,2.0,137.0
736,ID00527,1-Apr,Midwest,Carmel,Beverages,Carrot,63.0,2.0,137.0
737,ID00528,1-Apr,West,Longmont,Beverages,Carrot,63.0,2.0,137.0
738,ID00529,1-Apr,South,Tuscaloosa,Beverages,Carrot,63.0,2.0,137.0
739,ID00530,1-Apr,West,Norwalk,Beverages,Carrot,63.0,2.0,137.0

In [210]:
# df_final.to_csv('test_append_alldata.csv')

In [223]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_final)
#metadata.set_primary_key(column_name='ID')
constraint = {
    'constraint_class': 'FixedCombinations',
    'constraint_parameters': {
        'column_names': ['Category', 'Product']
    }
}

constraint_1 = {
    'constraint_class': 'FixedCombinations',
    'constraint_parameters': {
        'column_names': ['Region', 'City']
    }
}

# metadata.update_column(
#     column_name='ID',
#     sdtype='id',
#     regex_format='ID[0-9]{5}')

# metadata.set_primary_key(column_name='ID')

In [224]:
from sdv.single_table import GaussianCopulaSynthesizer

synthesizer = GaussianCopulaSynthesizer(metadata, default_distribution = 'uniform')
synthesizer.add_constraints(constraints=[
    constraint
])
synthesizer.add_constraints(constraints=[
    constraint_1
])
synthesizer.fit(df_final_mean)
synthetic_data = synthesizer.sample(num_rows=1000)

Sampling rows: 100%|████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 14954.71it/s]

In [225]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    real_data=df_final,
    synthetic_data=synthetic_data,
    metadata=metadata)

Creating report: 100%|███████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  2.99it/s]

Overall Quality Score: 40.82%

Properties:
Column Shapes: 64.39%
Column Pair Trends: 17.25%

In [226]:
synthetic_data

,ID,Date,Region,City,Category,Product,Qty,UnitPrice,TotalPrice
0,ID00393,15-Jul,West,Fairfield,Prepared and preserved foods,Carrot,263.0,2.0,679.0
1,ID07570,22-May,South,Alexandria,Bars,Carrot,204.0,2.0,624.0
2,ID07553,7-Oct,South,Richmond,Snacks,Potato Chips,110.0,3.0,500.0
3,ID07475,13-Jan,South,Richmond,Snacks,Pretzels,285.0,3.0,753.0
4,ID00233,19-May,South,Fayetteville,Bars,Banana,72.0,1.0,194.0
...,...,...,...,...,...,...,...,...,...
995,ID00522,1-Jan,West,Daly City,Beverages,Carrot,280.0,1.0,691.0
996,ID00393,2-Aug,South,Edinburg,Cookies,Arrowroot,233.0,2.0,698.0
997,ID07369,13-Feb,South,Washington,Bars,Carrot,196.0,2.0,297.0
998,ID00473,21-Jun,West,Buckeye,Bars,Banana,164.0,2.0,244.0
999,ID00060,24-Dec,South,McAllen,Cookies,Chocolate Chip,96.0,2.0,292.0